.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  animation: fadeIn 1s;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.food-item-image-container {
  position: relative;
}

.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name {
  margin-bottom: 10px;
}

.food-item-name p {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-item-desc {
  font-weight: 300;
  font-size: 12px;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
}

.food-item-image-container .add-btn {
  font-size: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: var(--white);
}

.food-item-counter img {
  width: 30px;
  cursor: pointer;
}
